@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --space-black: #0b0d17;
  --space-blue: #d0d6f9;
  --space-white: #ffffff;
}

@layer base {
  html {
    font-family: "Barlow", system-ui, sans-serif;
    color: var(--space-white);
    background-color: var(--space-black);
    font-size: 16px;
  }

  body {
    width: 100vw;
    height: 100vh;
    position: relative;
  }

  .custom_shadow {
    transition: all ease-in-out 0.25s;
  }

  .custom_shadow:hover {
    box-shadow: 0 0 0 80px rgba(255, 255, 255, 0.1036);
  }
}

@layer components {
  .heading_1 {
    @apply text-h1 sm:text-h1-lg font-bellefair uppercase;
  }
  .heading_2 {
    @apply text-h2 sm:text-h2-sm lg:text-h2-lg font-bellefair uppercase;
  }
  .heading_3 {
    @apply text-h3 sm:text-h3-sm lg:text-h3-lg font-bellefair uppercase;
  }
  .heading_4 {
    @apply text-h4 sm:text-h4-lg font-bellefair uppercase;
  }
  .heading_5 {
    @apply text-h5 sm:text-h5-sm lg:text-h5-lg font-barlow-condensed uppercase;
  }
  .sub_heading_1 {
    @apply text-sh1 font-bellefair uppercase;
  }
  .sub_heading_2 {
    @apply text-sh2 font-barlow-condensed uppercase;
  }
  .nav_text {
    @apply text-nav sm:text-nav-sm lg:text-nav-lg font-barlow-condensed uppercase;
  }

  .nav_selected {
    @apply after:absolute after:-bottom-3 after:left-0 after:h-[3px] after:w-full after:bg-space-white;
  }

  .nav_hover {
    @apply hover:after:absolute hover:after:-bottom-3 hover:after:left-0 hover:after:h-[3px] hover:after:w-full hover:after:bg-space-white hover:after:opacity-50;
  }
}
